body {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}


.container {
    background-color: rgba(255, 255, 255, 0.9); /* translucent white */
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin: 50px auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
}


input, button {
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
